--{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../Imagenes/Fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  /*background-repeat: no-repeat;
  background-position: center center;
  height: 1800px;
  background-attachment: fixed;
  background-size: cover;*/
}
